@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

.form-title{
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
    text-align: left; 
    font-weight: bold;
    color: rgb(12, 14, 22);
    width: 80%;
    margin: 50px 0px 25px 0px; 
}

.form-section-title{
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    text-align: left; 
    font-weight: bold;
    color: rgb(124,93,250);
    margin: 25px 0px 25px 0px; 
    width: 100%;
}

label{
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    font-weight: "normal";
    color: rgb(126, 136, 195);
    text-align: left;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.create-invoice-form-body{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    z-index: 3;
    opacity: 1;
    position: absolute;
    
    
    
}

.address-strip{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 35px;
    /* margin:  10px 0px 10px 0px; */
}

.address-strip-container{
    display: flex;
    height: max-content;
    flex-direction: column;
}

input{
    width: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid rgb(223, 227, 250);

    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    text-align: left; 
    font-weight: bold;
    color: rgb(12, 14, 22);
    outline: none;
}

input:focus{

    border: 1px solid rgb(146, 119,255);

}

form{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding-right: 20px;

}


::-webkit-scrollbar{
    width: 8px;
    position: absolute;
    margin: 10px;
    /* border-radius: 2px; */
}

::-webkit-scrollbar-thumb{
    
    background: rgb(151,151,151);
    border-radius: 4px;
}

::-webkit-scrollbar-button{
    
}
@media screen and (max-width: 800px) {

    .create-invoice-form-body{
        background-color: rgb(255, 255, 255);
        width: 75%;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
        z-index: 3;
        opacity: 1;
        position: absolute;
        min-width: 475px;
        
    }
}