@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

.main-panel{
    /* background-color: blueviolet; */
    width: 50%;
    height: fit-content;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.my-invoices{
    /* background-color: aqua; */
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    
}

.title{
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
    text-align: left; 
    font-weight: bold;
    color: rgb(12, 14, 22);
}

.stats{
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: medium;
    color: rgb(136, 142, 176);
}
.functionalities{
    height: auto;
    width: 50%;
    /* min-width: 220px; */
    display: flex;
    flex-direction: row;
    justify-content: right; 
    gap:20px;
}

@media screen and (max-width: 800px) {

    .functionalities{
        height: auto;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: right; 
        gap:5px;
    }

    .main-panel{
        /* background-color: blueviolet; */
        width: 90%;
        height: fit-content;
        min-width: 300px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
}